/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 3, 2014, 12:20:16 PM
    Author     : remco
*/

.device {
    position: relative;
    display: block;
    width: 395px;
    height: 813px;
    margin: 0 auto !important;
    font-family: Roboto,sans-serif;
    background-image: url(../img/device-sprite.png);
    background-repeat: no-repeat;
    background-position: -790px 0;
    background-size: 300%;
}
.device .device-content {
    position: absolute;
    top: 117px;
    left: 37px;
    width: 321px;
    height: 569px;
    overflow: hidden;
}

.device img.device-content {
    border: 0;
    margin: 0;
}